.comments{
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 16px 8px;
    margin: 0 auto 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px rgba(247, 244, 255, 0.336);
    background-color: rgba(8, 8, 8, 0.29);
}

.sold{
    font-size: 24px;
    margin: 0 auto;
    text-align: center;

    &_to{
        text-decoration: none;
        color: rgb(85, 85, 177);
        transition: all 0.25s ease-in-out;

        &:hover{
            color: rgba(85, 85, 177, 0.68);
        }
    }
}
