.role{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    padding: 8px 0;
    margin: 4rem 0 0;

    .role_user, .role_company{
        border: 1px solid rgba(255, 255, 255, 0.527);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        
        &:hover{
            border: 1px solid rgba(255, 255, 255, 0.868);
        }
    }

    .role_user{
        &:hover{
            box-shadow: 0px 0px 3px 2px rgba(41, 98, 255, 0.544);
        }
    }
    
    .role_company{
        &:hover{
            box-shadow: 0px 0px 3px 2px rgba(159, 41, 255, 0.882);
        }
    }

    .role_user_active{
        background-color: rgba(41, 98, 255, 0.544);
        color: white;
    }

    .role_company_active{
        background-color: rgba(159, 41, 255, 0.567);
        color: white;
    }
}

.root{
    width: 35vw;
    // height: 60%;
    padding: 2rem 4rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1rem !important;
    color: #fff !important;
    box-shadow: 0px 0px 4px 3px rgba(21, 38, 148, 0.2) !important;
    background-color: rgb(20, 20, 20, 0.3) !important;

    .title{
        font-size: 1.9rem !important;
        margin-bottom: 1rem !important;
        letter-spacing: 2px !important;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-bottom: 1rem;

        .image{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .field{
        border-radius: 0.7rem !important;
        width: 80%;
        color: #fff !important;
    }
    
    .form{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .input_container{
            width: 90%;
            margin: 1.5rem 0;

            .input_info{
                padding: 0px 5px 10px 7px;
                border-bottom: 1px solid #fff;
                background-color: transparent !important;
                width: 100%;
                height: 1.5rem;
                color: aliceblue;
            }
        }
    
        .radio_group_container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: 82%;
            gap: 12px;

            p{
                font-weight: 600;
                
            }

            .radio_group{
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 4px;

                .input_level_container {
                    position: relative;
                    width: 100%;
                    height: 4rem;

                    .input_radio {
                      position: absolute;
                      height: 100%;
                      width: 100%;
                      margin: 0;
                      cursor: pointer;
                      z-index: 2;
                      opacity: 0;
                    }
                  
                    .radio_title {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      height: 100%;
                      border: 2px solid #07afd9;
                      border-radius: 8px;
                      transition: all 300ms ease-in-out;
                  
                    //   ion-icon {
                    //     color: #07afd9;
                    //     font-size: 3rem;
                    //   }
                  
                      .label_radio {
                        color: #07afd9;
                        font-size: 0.80rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                      }
                    }
                  
                    .input_radio:checked + .radio_title {
                        background-color: #07afd9;
                        box-shadow: 0 0 12px #07afd9;
                        transform: scale(1.1);
                    
                        .label_radio {
                          color: white;
                        }
                    }
                    
                    .input_radio:hover + .radio_title {
                        box-shadow: 0 0 12px #07afd9;
                    }
                
                }
            }
        }
          
        .label{
            margin: 3px 0px 0px 5px;
            font-size: 14px;
            color: rgba(218, 67, 67, 0.8);
        }
    }


    .create_button{
        cursor: pointer;
        padding: 0.3rem 1.5rem 0.3rem 1rem;
        color: #fff;
        background-color: rgba(127, 27, 170, 0.782);
        border-radius: 0.5rem;
        border: 1px solid #ffffff11;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, color 0.3s;

        &:hover{
            background-color: rgb(127, 27, 170);
            border: 1px solid rgba(238, 10, 196, 0.067);
        }
        
        &:active{
            background-color: rgb(67, 15, 88);
            border: 1px solid rgba(238, 10, 196, 0.067);
            color: #ffffff9d;
        }
    }

}

.error{
    margin-top: 12px;
}