.title_comments{
    padding-left: 5%;
    font-size: 24px;
    margin-bottom: 16px;
}

.comments_block{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
}